.main-banner .right-image img {
    min-height: 380px;
}

.main-banner .right-image .price del {
    display: none;
}


.trending .thumb img {
    max-height: 225px;
    object-fit: contain;
}

.most-played img {
    max-height: 164px;
    object-fit: cover;
}

.most-played .item .down-content {
    padding: 20px 0px 38px 0px;
}

.categories img {
    height: 200px;
    object-fit: cover;
}

.categories .item h4 {
    padding: 20px 0;
}


.main-nav .nav .current_page_item a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
}



.cta .subscribe .mc4wp-checkbox input[type=checkbox] {
    width: 25px;
    height: 21px;
}

.cta .subscribe .mc4wp-checkbox span {
    padding-left: 15px;
}

.main-nav .custom-logo  {
    width: 158px;
    height: auto;
}

@media (max-width: 992px) {
    .main-nav .custom-logo {
        max-width: 110px;
    }
}

@media (max-width: 767px) {
    .header-area .main-nav .custom-logo-link {
        position: absolute;
        left: 30px;
        top: 0px;
        margin-left: 0px;
        margin-top: 30px;
    }
}